# Ignore all files
*
.env
# But not directories
!*/

# Allow specific file types
!*.md
!*.py
!*.yaml
!*.yml
!*.conf
!*.txt
!*.html
!*.css

# Allow specific files
!.gitignore
!.conf
!.Jenkinsfile
!Dockerfile
